{% extends "auction/base2.html" %}
{% load static %}
{% load widget_tweaks %}
{% block stylesheets %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

# Sets page title
{% block title %}{{ auction.name }}{% endblock %}

{% block content %}
    <form id="download_qr_codes_form" action="{% url 'auction:auction_qr_codes' auction.id %}" method="POST">{% csrf_token %}</form>
    <form id="publish_form" action="{% url 'auction:publish' auction.id %}" method="POST">{% csrf_token %}</form>
    <form id="archive_form" action="{% url 'auction:archive' auction.id %}" method="POST">{% csrf_token %}</form>
    <form id="open_bidding_form" action="{% url 'auction:open_bidding' auction.id %}" method="POST">{% csrf_token %}</form>
    <form id="close_bidding_form" action="{% url 'auction:close_bidding' auction.id %}" method="POST">{% csrf_token %}</form>

    <v-container class="mx-0 px-0">

        <v-container class="d-flex flex-wrap justify-center" >
            {# Auction info at top of screen #}
            <v-card outlined class="d-inline-block mx-auto mb-5">
                <v-toolbar dark dense class="main-gradient mb-4">
                    <v-spacer></v-spacer>
                    <v-toolbar-title>{{ auction.name }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>

                <v-list-item>
                    {# Owner #}
                    <div>
                        <v-list-item>Owner: {{ auction.admin.username }}</v-list-item>
                        {# Date Created #}
                        <v-list-item>Created on {{ auction.time_created }}</v-list-item>

                        {# Participants #}
                        <v-list-item
                            {% if user_is_admin %}
                                href="{% url 'auction:participants' auction.id%}"
                            {% endif %}
                        >
                            Participants: {{ total_participants }}
                            {% if user_is_admin %}
                                [Click to View]
                            {% endif %}
                        </v-list-item>

                        {# Items #}
                        <v-list-item>Items: {{ total_items|length }}</v-list-item>

                        {# Local Code #}
                        <v-list-item>Local Code: {{ auction.pk }}</v-list-item>
                    </div>

                    <v-list-item-avatar size="150" tile>
                        <v-img src="{{ auction.image.url }}"></v-img>
                    </v-list-item-avatar>
                </v-list-item>
            </v-card>


            {# Admin controls #}
            {% if user_is_admin %}
                <v-card outlined class="d-inline-block mx-auto mb-5">
                    <v-toolbar dark dense class="main-gradient mb-4">
                        <v-spacer></v-spacer>
                        <v-toolbar-title>Admin Controls</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    {# QR Code #}
                    <v-list-item>
                        <v-checkbox class="mr-5" color="#7579ff" form="download_qr_codes_form" name="include_images" label="Include Images"></v-checkbox>
                        <v-btn type="submit" form="download_qr_codes_form">Download QR Codes</v-btn>
                    </v-list-item>

                    {# Publish/Archive Auction & Open/Close Items #}
                    <v-divider></v-divider>
                    <v-list-item class="justify-content-around">
                        {% if auction.published %}
                            <v-btn @click="archive_auction_dialog = !archive_auction_dialog">Archive Auction</v-btn>
                        {% else %}
                            <v-btn type="submit" form="publish_form">Publish Auction</v-btn>
                        {% endif %}
                        {% if auction.opened_for_bidding %}
                            <v-btn type="submit" form="close_bidding_form">Close Bidding</v-btn>
                        {% else %}
                            <v-btn
                                {% if not auction.published %}
                                    disabled
                                {% endif %}
                                type="submit"
                                form="open_bidding_form">Open Bidding</v-btn>
                        {% endif %}
                    </v-list-item>
                    <v-divider></v-divider>

                    {# Add Item Button #}
                    <v-card-actions class="justify-content-around">
                        <v-btn @click="show_add_item = !show_add_item">
                            [[show_add_item ? 'Cancel':'Add Item']]
                            <v-icon>[[show_add_item ? 'cancel':'add']]</v-icon>
                        </v-btn>
                    </v-card-actions>


                    {# Add item form #}
                    {% if user_is_admin %}
                        <v-expand-transition>
                            <div v-show="show_add_item">
                                <v-divider></v-divider>
                                <div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
                                    <div class="col s12 m5 item_form">
                                        <form id="add_item_form" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="item_name">{{ item_form.name.label }}</label>
                                                {% render_field item_form.name class="form-control" placeholder="Enter item name" id="item_name" type="text" %}
                                                {% if item_form.name.errors %}
                                                   {% for error in form.name.errors %}
                                                       <p style="color:red"><strong>{{ error|escape }}</strong></p>
                                                   {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <label for="item_auction_type">{{ item_form.auction_type.label }}</label>
                                                {% render_field item_form.auction_type class="form-control" id="item_auction_type" %}
                                                {% if item_form.auction_type.errors %}
                                                   {% for error in form.auction_type.errors %}
                                                       <p style="color:red"><strong>{{ error|escape }}</strong></p>
                                                   {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <label for="item_price">{{ item_form.starting_price.label }} $</label>
                                                {% render_field item_form.starting_price class="form-control" type="number" min="0.01" step="0.01" placeholder="Enter starting item price" id="item_price" %}
                                                {% if item_form.starting_price.errors %}
                                                   {% for error in form.starting_price.errors %}
                                                       <p style="color:red"><strong>{{ error|escape }}</strong></p>
                                                   {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <label for="item_bid">{{ item_form.bid_increment.label }} $</label>
                                                {% render_field item_form.bid_increment class="form-control" type="number" min="0.01" step="0.01" placeholder="Enter minimum bid increment" id="item_bid" %}
                                                {% if item_form.bid_increment.errors %}
                                                   {% for error in form.bid_increment.errors %}
                                                       <p style="color:red"><strong>{{ error|escape }}</strong></p>
                                                   {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <label for="item_image">{{ item_form.image.label }}</label>
                                                {% render_field item_form.image class="form-control" placeholder="Enter starting item price" id="item_image" %}
                                                {% if item_form.image.errors %}
                                                   {% for error in form.image.errors %}
                                                       <p style="color:red"><strong>{{ error|escape }}</strong></p>
                                                   {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <label for="item_desc">{{ item_form.description.label }}</label>
                                                {% render_field item_form.description class="form-control" placeholder="Enter item description" id="item_desc" %}
                                                {% if item_form.description.errors %}
                                                   {% for error in form.description.errors %}
                                                       <p style="color:red"><strong>{{ error|escape }}</strong></p>
                                                   {% endfor %}
                                                {% endif %}
                                            </div>
                                            <v-btn type="submit" form="add_item_form">Submit</v-btn>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </v-expand-transition>
                    {% endif %}
                </v-card>
            {% endif %}
        </v-container>


        {# ITEMS #}
        <v-card outlined>
            <v-tabs color="#7579ff" centered grow>
                <v-tab>
                    Silent Items
                </v-tab>
                <v-tab>
                    Live Items
                </v-tab>
                <v-tab-item>
                    {% if not silent_items %}
                        <v-col>
                            <v-card flat>
                                <v-card-text>This auction has no silent items.</v-card-text>
                            </v-card>
                        </v-col>
                    {% endif %}
                    <v-list>
                        {% for item in silent_items %}
                            <v-list-item  key={{ item.id }} href="{% url 'auction:item' item.pk %}">
                                <v-list-item-avatar tile size="100"><v-img src="{{ item.image.url }}"></v-img></v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                                    <v-list-item-subtitle>
                                        {% if item.is_open %}  {# If the item is open for bidding #}
                                            Current Price: $ {{ item.current_price }}
                                            <br>
                                            Total Bids: {{ item.bid_set.count }}
                                        {% else %}  {# If the item is NOT open for bidding #}
                                            {% if item.is_sold %}  {# If the item is not open because it is sold #}
                                                Final Price: $ {{ item.current_price }}
                                                <br>
                                                Total Bids: {{ item.bid_set.count }}
                                                <br>
                                                Winner: {{ item.winner }}
                                                <div style="color:red">SOLD</div>
                                            {% else %}  {# If the item is not open for bidding yet #}
                                                Starting Price: $ {{ item.starting_price }}
                                                <br>
                                                <div style="color:red">Not Open</div>
                                            {% endif %}
                                        {% endif %}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider></v-divider>
                        {% endfor %}
                    </v-list>
                </v-tab-item>
                <v-tab-item>
                    {% if not live_items %}
                        <v-col>
                            <v-card flat>
                                <v-card-text>This auction has no live items.</v-card-text>
                            </v-card>
                        </v-col>
                    {% endif %}
                    <v-list>
                        {% for item in live_items %}
                            <v-list-item  key={{ item.id }} href="{% url 'auction:item' item.pk %}">
                                <v-list-item-avatar tile size="100"><v-img src="{{ item.image.url }}"></v-img></v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                                    <v-list-item-subtitle>
                                        {% if item.is_open %}  {# If the item is open for bidding #}
                                            Starting Price: $ {{ item.current_price }}
                                        {% else %}  {# If the item is NOT open for bidding #}
                                            {% if item.is_sold %}  {# If the item is not open because it is sold #}
                                                Final Price: $ {{ item.current_price }}
                                                <br>
                                                Winner: {{ item.winner }}
                                                <div style="color:red">SOLD</div>
                                            {% else %}  {# If the item is not open for bidding yet #}
                                                Starting Price: $ {{ item.starting_price }}
                                                <br>
                                                <div style="color:red">Not Open</div>
                                            {% endif %}
                                        {% endif %}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider></v-divider>
                        {% endfor %}
                    </v-list>
                </v-tab-item>
            </v-tabs>
        </v-card>
    </v-container>

    {# confirmation dialog when archiving an auction #}
    <v-dialog max-width="500" persistent v-model="archive_auction_dialog">
        <v-card>
            <v-card-title>End the auction?</v-card-title>
            <v-card-text>Archiving and re-publishing the auction can cause errors.</v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="archive_auction_dialog = !archive_auction_dialog" >Cancel</v-btn>
                <v-btn type="submit" form="archive_form">End Auction</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
{% endblock %}

{% block vue %}
    <script>

    Vue.use(Vuetify);

    assorted_vue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            drawer: false,
            n_items: {{ items|length }},
            n_items_per_row: 4,
            show_add_item: false,
            archive_auction_dialog: false
        },
        delimiters: ["[[", "]]"]
    });
    </script>
{% endblock %}
