{% extends 'auction/base2.html' %}

{% block title %}{{item.name}}{% endblock %}

{% block content %}
 <v-card class="d-inline-block mx-auto" max-width="850">
    {# Use item.id or item.pk?? or is it the same?? #}
    <form action="{% url "auction:edit_item" item.id %}" method="post">
        {% csrf_token %}
        <v-container>
            <v-row>
                <v-col cols="auto">
                    <v-img
                        max_height="200"
                        max_width="200"
                        src="{{ item.image.url }}"
                    ></v-img>
                </v-col>
                <v-col class="text-center">

                    {% if admin %}
                    <v-layout v-show="!edit" justify-end>
                        <v-btn icon @click="edit =!edit" >
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                    </v-layout>
                    <v-layout v-show="edit" justify-end>
                        <v-btn icon type="submit" >
                            <v-icon>mdi-check</v-icon>
                        </v-btn>
                    </v-layout>
                    {% endif %}

                        {# TODO: Add checkbox to mark/unmark sold when in edit mode. #}
                        {% if item.is_sold %}
                        <p style="color:red; font-size: 20px"><strong>SOLD!</strong></p>
                        {% endif %}

                        <v-text-field
                            name="name"
                            label="Item Name"
                            value="{{ item.name }}"
                            :readonly="!edit"
                        ></v-text-field>

                        {% if not item.is_open and not item.is_sold%}
                        <v-text-field
                            name="starting_price"
                            label="Starting Price $"
                            value="{{ item.starting_price }}"
                            :readonly="!edit"
                        ></v-text-field>
                        {% endif %}


                        {% if item.is_sold %}
                         <v-text-field
                            name="final_price"
                            label="Final Price $"
                            value="{{ item.bid_set.first }}"
                            :readonly="!edit"
                        ></v-text-field>
                        {% endif %}


                        {% if item.winner %}
                        <v-text-field
                            name="winner"
                            label="The Winner of this Item"
                            value="{{ item.winner.username }}"
                            :readonly="!edit"
                        ></v-text-field>
                        {% endif %}


                        {% if item.is_open %}
                        <v-text-field
                            name="total_bids"
                            label="Number of Bids"
                            value="{{ item.bid_set|length }}"
                            :readonly="!edit"
                        ></v-text-field>

                        <v-text-field
                            name="current_price"
                            label="Current Bid $"
                            {% if item.bid_set.first != null %}
                                value="{{ item.bid_set.first }}"
                            {% else %}
                                value="{{ item.starting_price }}"
                            {% endif %}
                            :readonly="!edit"
                        ></v-text-field>
                        {% else %}
                            This Item is Not Currently Open for Bidding
                        {% endif %}


                        {% if item.is_open and not item.is_sold %}
                            {# TODO: implement bidding here #}
                        {% endif %}

                </v-col>
            </v-row>

            <v-card-actions>
                <v-btn icon @click="show = !show">
                    <v-icon>[[ show ? 'mdi-chevron-up' : 'mdi-chevron-down' ]]</v-icon>
                </v-btn>
            </v-card-actions>

            <v-expand-transition>
                <div v-show="show">
                    <v-spacer></v-spacer>
                    <v-textarea
                        name="description"
                        label="Item Description"
                        value="{{ item.description }}"
                        :readonly="!edit"
                        filled
                    ></v-textarea>
                </div>
            </v-expand-transition>

        </v-container>
    </form>
  </v-card>
{% endblock %}

{% block vue %}
    <script>
    Vue.use(Vuetify);
    assorted_vue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            drawer: false,
            show: false,
            edit: false
        },
        delimiters: ["[[", "]]"]
    });

    </script>
{% endblock %}
