{% extends "auction/account/account_base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <span class="login100-form-logo">
                <i class="zmdi zmdi-landscape"></i>
            </span>

            <span class="login100-form-title p-b-34 p-t-27">Password Change Successful</span>
            <div class="wrap-input100 text-center">
                <span class="text-black fs-18">Your password has been changed.</span>
            </div>

            <div class="text-center p-t-50">
                <a class="txt1 text-white" href="{% url 'auction:home' %}">Home Page</a>
            </div>
            <div class="text-center p-t-10">
                <a class="txt1 text-white" href={% url "auction:account" %}>View Account</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}