{% extends "auction/account/account_base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
            {% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

                <span class="login100-form-title p-b-34 p-t-27">Edit Account</span>

                {% for field in form %}

                    {% if field.label == "Email address" %}
                        <div class="wrap-input100 validate-input">
                            <span class="text-black fs-25">Email</span>
                            {% render_field field class="input100" type="email" name="email" %}
                        </div>

                    {% elif field.label == "First name" %}
                        <div class="wrap-input100 validate-input">
                            <span class="text-black fs-25">First Name</span>
                            {% render_field field class="input100" type="text"%}
                        </div>

                    {% elif field.label == "Last name" %}
                        <div class="wrap-input100 validate-input">
                            <span class="text-black fs-25">Last Name</span>
                            {% render_field field class="input100" type="text"%}
                        </div>

                    {% endif %}
                {% endfor %}

                <div class="container-login100-form-btn p-t-20">
                    <button class="login100-form-btn" type="submit">Done</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}