{% extends "auction/account/account_base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

                <span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

                {% for field in form %}
                    {% if field.label == "Username" %}
                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                            {% render_field field class="input100" type="text" name="username" placeholder="Username" %}
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                    {{ field.errors }}
                    {% elif field.label == "Password" %}
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            {% render_field field class="input100" type="password" name="pass" placeholder="Password" %}
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                    {% endif %}
                {% endfor %}
                {% if form.errors %}
                    <span style="color: red" class="login100-form">Username and/or password is incorrect, please try again or click forgot password.</span>
                {% endif %}
                <div class="container-login100-form-btn p-t-20">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-90">
                    <a class="text-white" href="{% url 'auction:reset_password' %}">
                        Forgot Password?
                    </a>
                </div>
                <div class="text-center p-t-15">
                    <a class="text-white" href="{% url 'auction:signup' %}">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}